body {
    background-color: orange;
}
h1{
    text-align: center;
    color: red;
    
}
ul{ 
    list-style: none;
    display: flex;
  justify-content: space-around;
  background-color: burlywood;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 30px
}

 
}
.news{
    width: 310px;
    padding: 20px;
    border: 1px solid grey;
 margin: 20px;
}
img{
    width: 400px;

}
